@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background: white;
    background-color: white;
}

.header{
background: rgba(255, 255, 255, 0.8);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: saturate(100%) blur(25px);
-webkit-backdrop-filter: saturate(100%) blur(15.5px);
}

@media (min-width: 768px){
  .header{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: saturate(100%) blur(15.5px);
    -webkit-backdrop-filter: saturate(100%) blur(15.5px);
    }
}

.card-bg-rent{
  background: transparent linear-gradient(150deg, #FFFFFF 45%, #B3B1BE 100%) 0% 0% no-repeat padding-box;
  background-position: center;
  background-size: cover; /* Resize the background image to cover the entire container */
}

.card-bg-desk{
  background-image: url("../public/assets/home/card-01.png");
  background-position: center;
  background-size: cover; /* Resize the background image to cover the entire container */
}

.card-bg-sustentability{
  background-image: url("../public/assets/home/card-02.png");
  background-position: right;
  background-size: cover; /* Resize the background image to cover the entire container */
}